﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/build/ol.js"></script>
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
<!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>

<div class="jumbotron" style="background-color:#A3E7D8;  border-radius: 15px 15px 15px 15px;">
    <center><h1> รีวิวร้านกาแฟชิคๆ หาดใหญ่ </h1><center>
</div>

<div class="row">
<div id="mapid" style="height: 400px; border-radius: 10px 10px 10px 10px;"></div>
<script>

    var mymap = L.map('mapid').setView([6.99, 100.48], 5);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(mymap);

    @foreach(var cafe in Model.cafeList){
        <text>
            L.marker([@cafe.GpsLat, @cafe.GpsLng]).addTo(mymap).bindPopup('<b> @cafe.NameCafe </b>')
        </text>
    }

</script>
</div>
@foreach (var cofCafe in Model.coffeeCafe) {
    <div class="row">
        <h2> @cofCafe.CafeType </h2>
        <h4> @cofCafe.ReviewType </h4>
        @foreach (var cafe in Model.cafeList) {
            if(cofCafe.CoffeeCafeID == cafe.CoffeeCafeID) {
                <div class="row">
                    <div class="col-md-10">
                        
                    </div>
                    <div class="col-md-2">
                        <p> วันที่รีวิว @cafe.ReviewDate </p>
                    </div>
                </div>
                <div class="row" style="background-color:#FEF4F1; border-radius: 10px 10px 10px 10px;">
                    <div class="col-md-6">
                        <img src="~/images/@cafe.imageReview" width=510 height=470>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <h1 style="color:#0040FF;"> @cafe.NameCafe </h1>
                        </div>
                        <div class="row">
                            <p> เวลาเปิดบริการ <b> @cafe.Openingtime </b> </p>
                        </div>
                        <div class="row">
                            <p> เบอร์ติดต่อ <b> @cafe.Contactnumber </b> </p>
                        </div>
                        <div class="row">
                            <p> @cafe.Review </p>
                        </div>
                        <div class="row">
                            <p> คะแนนรีวิว : <b> @cafe.ReviewScore </b> </p>
                        </div>
                        <div class="row">
                            <p> โพสต์โดย : @cafe.PostUser.FirstName @cafe.PostUser.LastName </p>
                        </div>
                    </div>
                </div>
                <br>
            }
        }
        <br><hr><br>
    </div> 
}

<style type="text/css">* {cursor: url(http://cur.cursors-4u.net/nature/nat-11/nat1034.ani), url(http://cur.cursors-4u.net/nature/nat-11/nat1034.gif), auto !important;}</style><a href="http://www.cursors-4u.com/cursor/2012/01/29/bobblehead-bunny.html" target="_blank" title="Bobblehead Bunny"><img src="http://cur.cursors-4u.net/cursor.png" border="0" alt="Bobblehead Bunny" style="position:absolute; top: 0px; right: 0px;" /></a>
<style>body{background: #808080; 
  background: -webkit-linear-gradient(-90deg, #73E8F2, #D9F1F1); 
  background: -o-linear-gradient(-90deg, #73E8F2, #D9F1F1); /
  background: -moz-linear-gradient(-90deg, #73E8F2, #D9F1F1);
  background: linear-gradient(-90deg, #73E8F2, #D9F1F1);}
