@page
@using Microsoft.AspNetCore.Identity
@using CoffeeReview.Models

@model CoffeeReview.Pages.NewCafeAdmin.CreateModel
@inject SignInManager<CafeMember> SignInManager
@inject UserManager<CafeMember> UserManager

@{
    ViewData["Title"] = "เพิ่มร้านกาแฟ";
}

<h2>เพิ่มร้านกาแฟ</h2>

<h4>กรอกข้อมูลดังนี้</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                ประเภทของร้าน
                <select asp-for="Cafe.CoffeeCafeID" class ="form-control" asp-items="ViewBag.CoffeeCafeID"></select>
            </div>
            <div class="form-group">
                วันที่รีวิว
                <input asp-for="Cafe.ReviewDate" class="form-control" />
                <span asp-validation-for="Cafe.ReviewDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                ชื่อร้าน
                <input asp-for="Cafe.NameCafe" class="form-control" />
                <span asp-validation-for="Cafe.NameCafe" class="text-danger"></span>
            </div>
            <div class="form-group">
                เวลาเปิดบริการ
                <input asp-for="Cafe.Openingtime" class="form-control" />
                <span asp-validation-for="Cafe.Openingtime" class="text-danger"></span>
            </div>
            <div class="form-group">
                เบอร์ติดต่อ
                <input asp-for="Cafe.Contactnumber" class="form-control" />
                <span asp-validation-for="Cafe.Contactnumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                รีวิว
                <input asp-for="Cafe.Review" class="form-control" />
                <span asp-validation-for="Cafe.Review" class="text-danger"></span>
            </div>
            <div class="form-group">
                รูป
                <input asp-for="Cafe.imageReview" class="form-control" />
                <span asp-validation-for="Cafe.imageReview" class="text-danger"></span>
            </div>
            <div class="form-group">
                ละติจูดของร้าน
                <input asp-for="Cafe.GpsLat" class="form-control" />
                <span asp-validation-for="Cafe.GpsLat" class="text-danger"></span>
            </div>
            <div class="form-group">
                ลองจิจูดของร้าน
                <input asp-for="Cafe.GpsLng" class="form-control" />
                <span asp-validation-for="Cafe.GpsLng" class="text-danger"></span>
            </div>
            <div class="form-group">
                คะแนนรีวิว
                <input asp-for="Cafe.ReviewScore" class="form-control" />
                <span asp-validation-for="Cafe.ReviewScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                โพสต์โดย: @UserManager.GetUserName(User)
                <input asp-for="Cafe.CafeMemberId" type="hidden" value="@UserManager.GetUserId(User)" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
