@page
@model CoffeeReview.Pages.NewCafeAdmin.DetailsModel

@{
    ViewData["Title"] = "ข้อมูลร้านกาแฟ";
}

<h2>ข้อมูลร้านกาแฟ</h2>

<div>
    <h4>ข้อมูลร้านกาแฟมีดังนี้</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ประเภทของร้าน
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cafe.Cofcafe.CoffeeCafeID)
        </dd>
        <dt>
            วันที่รีวิว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cafe.ReviewDate)
        </dd>
        <dt>
            ชื่อร้าน
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cafe.NameCafe)
        </dd>
        <dt>
            เวลาเปิดบริการ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cafe.Openingtime)
        </dd>
        <dt>
            เบอร์ติดต่อ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cafe.Contactnumber)
        </dd>
        <dt>
            รีวิว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cafe.Review)
        </dd>
        <dt>
            รูป
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cafe.imageReview)
        </dd>
        <dt>
            ละติจูดของร้าน
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cafe.GpsLat)
        </dd>
        <dt>
            ลองจิจูดของร้าน
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cafe.GpsLng)
        </dd>
        <dt>
            คะแนนรีวิว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cafe.ReviewScore)
        </dd>
        <dt>
            โพสต์โดย
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cafe.PostUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Cafe.CafeID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
