@page
@model CoffeeReview.Pages.NewCafeAdmin.IndexModel

@{
    ViewData["Title"] = "ร้านกาแฟ";
}

<h2>ร้านกาแฟ</h2>

<p>
    <a asp-page="Create">เพิ่มร้านกาแฟ</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ประเภทของร้าน
            </th>
            <th>
                วันที่รีวิว
            </th>
            <th>
                ชื่อร้าน
            </th>
            <th>
                เวลาเปิดบริการ
            </th>
            <th>
                เบอร์ติดต่อ
            </th>
            <th>
                รีวิว
            </th>
            <th>
                รูป
            </th>
            <th>
                ละติจูดของร้าน
            </th>
            <th>
                ลองจิจูดของร้าน
            </th>
            <th>
                คะแนนรีวิว
            </th>
            <th>
                โพสต์โดย
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cafe) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cofcafe.CafeType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameCafe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Openingtime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contactnumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Review)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imageReview)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GpsLat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GpsLng)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostUser.UserName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CafeID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CafeID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CafeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
