@page
@model CoffeeReview.Pages.CategoryAdmin.CreateModel

@{
    ViewData["Title"] = "สร้างหมวดหมู๋";
}

<h2>สร้างหมวดหมู๋</h2>

<h4>กรอกประเภทร้านค้าที่ต้องการ</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                ประเภทของร้าน
                <input asp-for="CoffeeCafe.CafeType" class="form-control" />
                <span asp-validation-for="CoffeeCafe.CafeType" class="text-danger"></span>
            </div>
            <div class="form-group">
                คำอธิบายร้าน
                <input asp-for="CoffeeCafe.ReviewType" class="form-control" />
                <span asp-validation-for="CoffeeCafe.ReviewType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
