@page
@model CoffeeReview.Pages.CategoryAdmin.DeleteModel

@{
    ViewData["Title"] = "ลบหมวดหมู่";
}

<h2>ลบหมวดหมู่</h2>

<h3>คุณแน่ใจนะว่าต้องการลบหมวดหมู่นี้?</h3>
<div>
    <h4>CoffeeCafe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ประเภทของร้าน
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CoffeeCafe.CafeType)
        </dd>
        <dt>
            คำอธิบาย
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CoffeeCafe.ReviewType)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="CoffeeCafe.CoffeeCafeID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
