@page
@model CoffeeReview.Pages.CategoryAdmin.DetailsModel

@{
    ViewData["Title"] = "ประเภทร้าน";
}

<h2>ประเภทของร้าน</h2>

<div>
    <h4>รายละเอียดของร้าน</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ประเภทของร้าน
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CoffeeCafe.CafeType)
        </dd>
        <dt>
            คำอธิบายร้าน
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CoffeeCafe.ReviewType)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CoffeeCafe.CoffeeCafeID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
