@page
@model CoffeeReview.Pages.CategoryAdmin.EditModel

@{
    ViewData["Title"] = "แก้ไขหมวดหมู่";
}

<h2>แก้ไขหมวดหมู่</h2>

<h4>แก้ไขข้อมูลร้านค้านี้</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CoffeeCafe.CoffeeCafeID" />
            <div class="form-group">
                ประเภทของร้าน
                <input asp-for="CoffeeCafe.CafeType" class="form-control" />
                <span asp-validation-for="CoffeeCafe.CafeType" class="text-danger"></span>
            </div>
            <div class="form-group">
                คำอธิบายร้าน
                <input asp-for="CoffeeCafe.ReviewType" class="form-control" />
                <span asp-validation-for="CoffeeCafe.ReviewType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
