@page
@model CoffeeReview.Pages.CategoryAdmin.IndexModel

@{
    ViewData["Title"] = "จัดการหมวดหมู่ของร้าน";
}

<h2>ระบบจัดการหมวดหมู่</h2>

<p>
    <a asp-page="Create">สร้างหมวดหมู่</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ประเภทของร้าน
            </th>
            <th>
                คำอธิบาย
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CoffeeCafe) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CafeType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewType)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CoffeeCafeID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CoffeeCafeID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CoffeeCafeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
